<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/src/css/help-page.css">
  <script>{{{ colorSchemeInitScript }}}</script>
</head>
<body>
  {{{ body_html }}}
  <h2>More information</h2>
  <ul>
    <li><a href="features">Common features</a> of this puzzles app</li>
    <li><a href="./">Help home page</a></li>
  </ul>
  {{{ analytics_html }}}
</body>
</html>
