/* Common styles for help-viewer and standalone help-page */

a {
  /* try to avoid horizontal scrolling on small screens */
  overflow-wrap: break-word;
}

a > code {
  /* urls are all formatted as code; we'd prefer to skip the monoface font */
  font-family: inherit;
}

/* Restore some margin removed by native.css */
h1:not(:first-child) {
  margin-block-start: var(--wa-space-xl);
}
h2 {
  margin-block-start: var(--wa-space-l);
}
h3,
h4,
h5,
h6 {
  margin-block-start: var(--wa-space-m);
}

/* Screenshots from build insertPuzzleImage */
img.screenshot {
  max-width: min(15rem, 50%);
  float: inline-end;
  margin-inline-start: var(--wa-space-l);
  margin-block-end: var(--wa-space-m);
  border: var(--wa-border-width-s) solid var(--wa-color-neutral-border-normal);
  border-radius: var(--wa-border-radius-m);
}

/* Loosely adapted from web-awesome native.css */
kbd {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.125em 0.25em;
  min-width: calc(1lh + 2 * (0.125em + var(--wa-border-width-s)));
  text-align: center;

  font-family: inherit;
  font-weight: inherit;
  font-size: var(--wa-font-size-smaller);

  border: solid var(--wa-border-width-s)
    color-mix(in oklab, currentColor, transparent 50%);
  border-radius: var(--wa-border-radius-s);
  box-shadow: 0 0.125em 0 0 color-mix(in oklab, currentColor, transparent 50%);
}
kbd wa-icon {
  vertical-align: -2px;
}

pre {
  /* try to avoid horizontal scrolling on small screens */
  white-space: pre-wrap;
}

/* Render an svg icon from --icon url (in generated style attr) */
span.icon {
  display: inline-block;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  vertical-align: -2px;

  /* Fallback: svg is black, use white background */
  background-color: #fff;
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@supports (mask-image: var(--icon)) {
  /* Baseline 2023: render in currentColor using masking */
  span.icon {
    background-color: currentColor;
    background-image: none;
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}

table {
  margin-block: 1em;

  border: none;
  border-collapse: collapse;
}

tr {
  border-block-end: var(--wa-border-width-s) var(--wa-border-style)
    var(--wa-color-neutral-border-quiet);
  transition: background-color var(--wa-transition-normal) var(--wa-transition-easing);
}
td,
th {
  padding-block: 0.5em;

  text-align: start;
  vertical-align: top;
}
td + td,
th + th {
  padding-inline-start: 1em;
}

th {
  font-weight: var(--wa-font-weight-semibold);
}
tr:first-child th {
  position: sticky;
  inset-block-start: 0;
  background-color: var(--wa-color-surface-default);
}

@media (hover: hover) {
  tr:hover {
    background-color: var(--wa-color-neutral-fill-quiet);
  }
}

/* Custom style for puzzles.md */
table.puzzles-list td:not(:last-child) {
  white-space: nowrap;
}

/* Icon images */
.icon-checkpoint-remove {
  --icon: url(/node_modules/lucide-static/icons/trash-2.svg);
}
.icon-edge-app-available {
  --icon: url(/src/assets/edge-app-available.svg);
}
.icon-ellipsis {
  --icon: url(/node_modules/lucide-static/icons/ellipsis.svg);
}
.icon-ellipsis-vertical {
  --icon: url(/node_modules/lucide-static/icons/ellipsis-vertical.svg);
}
.icon-experimental {
  --icon: url(/node_modules/lucide-static/icons/flask-conical.svg);
}
.icon-firefox-web-apps {
  --icon: url(/src/assets/firefox-web-apps.svg);
}
.icon-game-in-progress {
  --icon: url(/node_modules/lucide-static/icons/play.svg);
}
.icon-history {
  --icon: url(/node_modules/lucide-static/icons/history.svg);
}
.icon-install-desktop {
  --icon: url(/node_modules/@material-design-icons/svg/outlined/install_desktop.svg);
}
.icon-ios-share {
  --icon: url(/node_modules/@material-design-icons/svg/outlined/ios_share.svg);
}
.icon-ios-add-to-home-screen {
  --icon: url(/node_modules/lucide-static/icons/square-plus.svg);
}
.icon-load-game {
  --icon: url(/node_modules/lucide-static/icons/upload.svg);
}
.icon-mouse-left-button {
  --icon: url(/src/assets/mouse-left-button.svg);
}
.icon-mouse-right-button {
  --icon: url(/src/assets/mouse-right-button.svg);
}
.icon-puzzle-type {
  --icon: url(/node_modules/lucide-static/icons/swatch-book.svg);
}
.icon-redo {
  --icon: url(/node_modules/lucide-static/icons/redo-2.svg);
}
.icon-save-game {
  --icon: url(/node_modules/lucide-static/icons/download.svg);
}
.icon-share {
  --icon: url(/node_modules/lucide-static/icons/share-2.svg);
}
.icon-undo {
  --icon: url(/node_modules/lucide-static/icons/undo-2.svg);
}
