@import url("/node_modules/@awesome.me/webawesome/dist/styles/themes/default.css");
@import url("utils/css/native.css");
@import url("utils/css/wa-tweaks.css");

:root {
  font-family: var(--wa-font-family-body), sans-serif;
  line-height: var(--wa-line-height-normal);
  font-weight: var(--wa-font-weight-normal);

  /* TODO: color-scheme: light dark;*/
  color: var(--wa-color-text-normal);
  background-color: var(--wa-color-brand-fill-quiet);

  /* Lighten default accent buttons slightly (usually neutral-20) */
  /* TODO: --wa-color-neutral-70 for dark mode */
  --wa-color-neutral-fill-loud: var(--wa-color-neutral-30);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (any-pointer: coarse) {
  :root {
    font-size: 120%;
  }
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body:not(.js-ready) .js {
  display: none;
}
body.js-ready .nojs {
  display: none;
}
