@import url("./common.css");
@import url("./css/home-screen.css");

:root {
  --app-padding: var(--wa-space-xl);
  --app-spacing: var(--wa-space-l);

  @media (max-width: 40rem) {
    --app-padding: var(--wa-space-l);
    --app-spacing: var(--wa-space-m);
  }
}
