@import url("./common.css");

#app {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  --app-padding: var(--wa-space-xl);
  --app-spacing: var(--wa-space-l);
}
@media (max-width: 40rem) {
  #app {
    --app-padding: var(--wa-space-l);
    --app-spacing: var(--wa-space-m);
  }
}

header,
section,
footer {
  padding: var(--app-padding);
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--wa-color-brand-90);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--app-spacing);

  .logo {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  .title {
    display: flex;
    flex-direction: column;
  }

  h1 {
    line-height: var(--wa-line-height-condensed);
  }
  .subtitle {
    font-size: var(--wa-font-size-m);
    font-weight: var(--wa-font-weight-normal);
    color: var(--wa-color-text-quiet);
  }
}

section {
  max-width: 55ch;
}
