@import url("/node_modules/@shoelace-style/shoelace/dist/themes/light.css");

:root {
  font-family: var(--sl-font-sans), sans-serif;
  line-height: var(--sl-line-height-normal);
  font-weight: var(--sl-font-weight-normal);

  /* TODO: color-scheme: light dark;*/
  color: var(--sl-color-neutral-700);
  background-color: var(--sl-color-neutral-0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--sl-color-neutral-50);
}

.container {
  box-sizing: border-box;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--sl-spacing-2x-large);
  overflow-y: auto;
}

header {
  margin-bottom: var(--sl-spacing-x-large);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
header h1 {
  margin-inline-end: 0.5em;
}

footer {
  margin-top: var(--sl-spacing-2x-large);
}

h1,
h2 {
  margin: 0;
  color: var(--sl-color-neutral-800);
}

h1 {
  font-weight: var(--sl-font-weight-bold);
  font-size: var(--sl-font-size-x-large);
}
h2 {
  font-weight: var(--sl-font-weight-semibold);
  font-size: var(--sl-font-size-large);
}

p {
  margin: var(--sl-spacing-medium) 0 0 0;
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
}
