@import url("/node_modules/@awesome.me/webawesome/dist/styles/themes/default.css");

:root {
  font-family: var(--wa-font-family-body), sans-serif;
  line-height: var(--wa-line-height-normal);
  font-weight: var(--wa-font-weight-normal);

  /* TODO: color-scheme: light dark;*/
  color: var(--wa-color-text-normal);
  background-color: var(--wa-color-surface-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  /* Related to fixWaButtonAccentBorder */
  /*--wa-color-neutral-border-loud: var(--wa-color-neutral-fill-loud);*/
  --wa-color-brand-border-loud: var(--wa-color-brand-fill-loud);
  --wa-color-success-border-loud: var(--wa-color-success-fill-loud);
  --wa-color-warning-border-loud: var(--wa-color-warning-fill-loud);
  --wa-color-danger-border-loud: var(--wa-color-danger-fill-loud);

  /* Make default buttons a little less loud */
  --wa-color-neutral-fill-loud: var(--wa-color-surface-default);
  --wa-color-neutral-border-loud: var(--wa-color-neutral-80);
  --wa-color-neutral-on-loud: var(--wa-color-neutral-20);
}

@media (any-pointer: coarse) {
  :root {
    font-size: 120%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
