@import url("/node_modules/@shoelace-style/shoelace/dist/themes/light.css");

:root {
  font-family: var(--sl-font-sans), sans-serif;
  line-height: var(--sl-line-height-normal);
  font-weight: var(--sl-font-weight-normal);

  /* TODO: color-scheme: light dark;*/
  color: var(--sl-color-neutral-700);
  background-color: var(--sl-color-neutral-0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--sl-color-neutral-50);
}
