@import url("/node_modules/@awesome.me/webawesome/dist/styles/themes/default.css");

:root {
  font-family: var(--wa-font-family-body), sans-serif;
  line-height: var(--wa-line-height-normal);
  font-weight: var(--wa-font-weight-normal);

  /* TODO: color-scheme: light dark;*/
  color: var(--wa-color-text-normal);
  background-color: var(--wa-color-surface-default);

  /* Lighten default accent buttons slightly (usually neutral-20) */
  --wa-color-neutral-fill-loud: var(--wa-color-neutral-30);

  /* Render filled-outlined buttons like form controls.
   * (Also affects avatar and tag, but we don't use those.) */
  --wa-color-neutral-fill-normal: var(--wa-form-control-background-color);
  --wa-color-neutral-on-normal: var(--wa-form-control-label-color);
  --wa-color-neutral-border-normal: var(--wa-form-control-border-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (any-pointer: coarse) {
  :root {
    font-size: 120%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
