@import url("/node_modules/@awesome.me/webawesome/dist/styles/themes/default.css");

:root {
  font-family: var(--wa-font-family-body), sans-serif;
  line-height: var(--wa-line-height-normal);
  font-weight: var(--wa-font-weight-normal);

  /* TODO: color-scheme: light dark;*/
  color: var(--wa-color-text-normal);
  background-color: var(--wa-color-surface-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  /* Make default buttons less loud, match form controls.
   * See enableWaButtonDefaultStyling in webawesomehacks. */
  --wa-color-button-fill-default: var(--wa-form-control-background-color);
  --wa-color-button-on-default: var(--wa-form-control-label-color);
  --wa-color-button-border-default: var(--wa-form-control-border-color);
}

@media (any-pointer: coarse) {
  :root {
    font-size: 120%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
